---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allLogs: CollectionEntry<"logs">[] = await getCollection("logs");

const sortedLogs = allLogs.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const formatDate = (date: Date) => {
    return date.toLocaleDateString("es-ES", {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
        timeZone: "UTC",
    });
};
---

<Layout title="Logs — devureca">
    <Navbar />
    <Footer />

    <main
        class="w-full max-w-md mx-auto border-x border-zinc-300/60 dark:border-zinc-900 pt-24 px-5 lg:px-6 min-h-screen flex flex-col opacity-0 animate-[fadeInUp_0.6s_ease-out_forwards]"
    >
        <div class="grow flex flex-col gap-10 pb-12">
            <div class="flex flex-col gap-3">
                <h2
                    class="text-[10px] uppercase tracking-widest text-zinc-600 dark:text-zinc-300 font-mono"
                >
                    Bitácora de publicaciones
                </h2>

                {
                    sortedLogs.length === 0 ? (
                        <p class="text-xs font-mono text-zinc-600 dark:text-zinc-300">
                            No se encontraron publicaciones.
                        </p>
                    ) : (
                        <ul class="flex flex-col gap-2 font-mono text-xs">
                            {sortedLogs.map((log: CollectionEntry<"logs">) => (
                                <li class="flex gap-4 items-baseline group">
                                    <span class="text-zinc-600 dark:text-zinc-300 select-none text-[11px] whitespace-nowrap">
                                        {formatDate(log.data.date)}
                                    </span>
                                    <a
                                        href={`/logs/${log.id}`}
                                        class="text-zinc-800 dark:text-zinc-300 hover:text-[#FE5126] dark:hover:text-zinc-100 transition-colors duration-150 underline decoration-zinc-300/50 dark:decoration-zinc-800/80 underline-offset-4 group-hover:decoration-[#FE5126]"
                                    >
                                        {log.data.title}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    )
                }
            </div>
        </div>

        <div
            class="lg:hidden w-full text-center py-8 border-t border-zinc-300/20 dark:border-zinc-900/50 static bottom-0"
        >
            <p class="text-xs text-zinc-600 dark:text-zinc-300">
                © 2026 devureca
            </p>
        </div>
    </main>
</Layout>
