---
---

<aside
    slot="panel"
    class="hidden lg:flex fixed top-0 right-16 h-screen w-40 flex-col justify-end items-end px-6 py-8 z-10"
>
    <p class="text-xs text-zinc-700" style="writing-mode: vertical-rl;">
        © 2025 devureca
    </p>
</aside>
